@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.spinning-forever {
    position: absolute;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

body {
    text-align:center;
}

.inline-block {
    display: inline-block;
}

h1 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 100px;
}